/* ===== Contact Page ===== */
.contact-page .submit_container {
  margin-top: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-page .name_input {
  text-align: left;
}

.contact-page .input_name,
.contact-page .input_phoneNum,
.contact-page .input_email,
.contact-page .input_email_domain,
.contact-page .input_title {
  width: 100%;
  height: 25px;
}

.contact-page .input_email {
  width: 332px;
}

.contact-page .input_email_domain {
  width: 299px;
}

.contact-page .input_content {
  vertical-align: top;
  width: 100%;
  height: 503px;
  letter-spacing: 1.5px;
  resize: none; /* 사용자가 크기 조절 못 하게 하려면 이 줄 추가 */
  padding: 10px; /* 텍스트가 너무 바짝 붙지 않게 */
  line-height: 1.2;
}

.contact-page .submit_button_design {
  width: 1000px;
}

/*문의내용 입력*/
.submit_container {
  margin-top: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input_table {
  border-collapse: separate;
  border-spacing: 10px 5px;
}

.name_input {
  text-align: left;
}

.input_name {
  width: 100%;
  height: 25px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
}
.input_name:focus {
  border-color: #f5583c;
}

.input_phoneNum {
  width: 100%;
  height: 25px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
}

.input_phoneNum:focus {
  border-color: #f5583c;
}

.email_container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input_email {
  width: 50%;
  height: 25px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
}

.input_email:focus {
  border-color: #f5583c;
}

.input_email_domain {
  width: 30%;
  height: 25px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
}
.input_email_domain:focus {
  border-color: #f5583c;
}

select {
  width: 124%;
  height: 50px;
  padding: 10px;
  font-size: 18px;
  border-radius: 25px;
  border: 2px solid #ccc;
  outline: none;
  background-color: white;
  cursor: pointer;
  appearance: none;
  text-align: center;
}

.input_title {
  width: 100%;
  height: 25px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
}

.input_title:focus {
  border-color: #f5583c;
}

.input_content {
  vertical-align: top;
  width: 100%;
  height: 503px;
  letter-spacing: 1.5px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
}

.input_content:focus {
  border-color: #f5583c;
}

.submit_button {
  display: block;
  color: black;
  width: 50%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-size: x-large;
  border-radius: 20px;
  outline: none;
  font-weight: bold;
}

a {
  text-decoration: none;
}
