body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
}
/* 헤더 */
header {
  position: fixed;    /*헤더를 상단에 고정*/
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  width: 100%;
}

.logo-container {
  text-align: center;
  padding: 20px 0;
  background-color: white;
}

.logo-container img {
  width: 300px;
  height: auto;
}

/* 네비게이션 바 */
nav {
  display: flex;
  width: 100%;
  background-color: white;
  border-bottom: 4px solid black;
}

nav a {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  transition: all 0.2s ease;
}

nav a:hover {
  color: red;
  transform: scale(1.1);
}

nav .nav-title span {
  color: red;
}

/* Footer */
footer {
  background-color: white;
  text-align: center;
  padding: 18px 40px;   /* 위아래 좌우 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #ddd;
}

footer .footer-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
}

footer .footer-title span {
  color: red;
}

footer .info {
  text-align: left;
}

footer p {
  margin: 1px 0;
  font-size: 11 px;
}

.logo-links {
  display: flex;
  gap: 12px;
}

.logo-links a img {
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease;
}

.logo-links a:hover img {
  transform: scale(1.1);
}