/* 메인 */
.main_view {
  position: relative;
  margin-top: 125px;
  height: calc(100vh - 164px - 125px); /* 전체 높이에서 header/footer 제외한 남은 공간 */
  overflow: hidden;
}

.main_view img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center 25%;
  display: block;
}

.main_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-18%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 10px;
  max-width: 80%;
}

.main_text h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.main_text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.main_text button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.main_text button:hover {
  background-color: black;
}

/*슬라이드 속성*/
.slide-popup {
  display: none;
  position: fixed;
  top: 48.5%;
  left: 20%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.85);
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  border-radius: 10px;
  z-index: 1000;
  text-align: center;
}

.slide-popup img {
  width: 300px;
  height: 330px;
  display: none;
  border-radius: 10px;
}

.slide-popup img.active {
  display: inline-block;
}

.slide-popup button {
  margin: 10px 5px;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.slide-popup .close-btn { 
  background: none;
  color: white;
  position: absolute;
  margin: 2px 2px;
  padding: 2px 4px;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.btn-group{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.prev-btn,
.next-btn {
  background: none;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}