/* 메인 */
.main_view {
  position: relative;
  margin-top: 125px;
  height: calc(100vh - 164px - 125px); /* 전체 높이에서 header/nav/footer 제외한 남은 공간 */
  overflow: hidden;
}

.main_view img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center 25%;
  display: block;
}

.main_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-18%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 10px;
  max-width: 80%;
}

.main_text h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.main_text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.main_text button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.main_text button:hover {
  background-color: black;
}